// imports
@import url(https://fonts.googleapis.com/css?family=Roboto:900);

@import "variables.less";
@import "mixin.less";
@import "animation.less";

// utils
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

// -- end

.game-backdrop {
	.absolute-center();
	
	display: none;
	
	background-color: rgba(33, 33, 33,1.0);
	
	opacity: 0;
	
	transition: opacity 450ms;
}

.game-backdrop.in {
	display: block;
	opacity: .48;
}

.game-dialog-wrapper {
	.absolute-center();
	
	display: none;
	.flex-direction(row-reverse);
	.flex-direction(column);
	align-items: center;
	justify-content: center;
	
	font-family: @game-font;
	
	cursor: pointer;
}

.game-dialog-wrapper.in {
	.flex();
}

#gameDialog {
	width: 300px;
	height: 50px;
	margin-bottom: 20px;
	
	line-height: 50px;
    text-align: center;
    
    font-size: 2em;
	
	background-color: #dedede;
	
	.box-shadow(~"0 0 30px 10px rgba(222, 222, 222, .55556),inset 0 0 0 1px rgba(235, 222, 222, .33333)");
    .border-radius();
}

.game-wrapper {
	width: @board-size * @tile-size + @board-size * @board-gutter-size + @board-gutter-size;
	margin: 0 auto;
	
	font-family: @game-font;
}

.game-header {
	text-align: right;
	
	margin-bottom: @board-gutter-size * 2;
}

.game-title {
	float: left;
	margin: 0;
	
	font-size: 48px;
	color: #776E65;
}

.game-score-board {
	float: right;
	display: inline-block;
	padding: 5px 10px;
	
	text-align: center;
	font-family: @game-font;
	color: #eee4da;
	background-color: #bbada0;
	
	.border-radius();
	
	#gameScoreCard {
		font-size: 1.5em;
		color: white;
	}
}

#gameBoard {
	position: relative;
	display: inline-block;
	margin-bottom: @board-gutter-size;
	
	text-align: center;
	
	background-color: @board-background-color;
	
	.border-radius();
}

#btnNewGame {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
	height: 36px;
	min-width: 64px;
	margin-top: @board-gutter-size;
	padding: 0 8px;
	
	color: #fff;
	line-height: 36px;
	
	font-family: @game-font;
	font-size: 1em;
	
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0;
	
	background: #8f7a66;
	border: none;
	.border-radius();
	
	outline: none;
	cursor: pointer;
	
	&:active {
		background: darken(hsl(29, 17%, 48%), 15%);
	}
}

#gameTileWrapper {
	.absolute-center();
}

.grid-row {
	.flex();
	
	&:last-child {
		.grid-col {
			margin-bottom: @board-gutter-size;
		}
	}
	
	.grid-col {
		width: @tile-size;
		height: @tile-size;
		margin-top: @board-gutter-size;
		margin-right: @board-gutter-size;
		
		background-color: @tile-background-color;
		
		.border-radius();
		
		&:first-child {
			margin-left: @board-gutter-size;
		}
	}
}

.tile {
	position: absolute;
	width: @tile-size;
	height: @tile-size;
	
	line-height: @tile-size;
	
	.border-radius();
	.transition(transform 100ms ease-in-out);
	
	&.new-tile .tile-content {
		.border-radius();
		
		-webkit-animation-duration: 250ms;
		animation-duration: 250ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		
		animation-name: zoomIn;
	}
	
	&.tile-2 { .one-digit-tile(#776E65, #EEE4DA); }
	&.tile-4 { .one-digit-tile(#776E65, #EDE0C8); }
	&.tile-8 { .one-digit-tile(#F9F6F2, #F2B179); }
	&.tile-16 { .two-digit-tile(#F9F6F2, #F59563); }
	&.tile-32 { .two-digit-tile(#F9F6F2, #F67C5F); }
	&.tile-64 { .two-digit-tile(#F9F6F2, #F65E3B); }
	&.tile-128 { .three-digit-tile(#f9f6f2, #edcf72); }
	&.tile-256 { .three-digit-tile(#f9f6f2, #edcc61); }
	&.tile-512 { .three-digit-tile(#f9f6f2, #edc850); }
	&.tile-1024 { .four-digit-tile(#f9f6f2, #edc53f); }
	&.tile-2048 { .four-digit-tile(#f9f6f2, #edc22e); }
	&.tile-4096 { .four-digit-tile(#f9f6f2, #edc22e); }
	&.tile-8192 { .four-digit-tile(#f9f6f2, #edc22e); }
	&.tile-16384 { .five-digit-tile(#f9f6f2, #3c3a32); }
	&.tile-32768 { .five-digit-tile(#f9f6f2, #3c3a32); }
	&.tile-65536 { .five-digit-tile(#f9f6f2, #3c3a32); }
}

@media screen and (max-width: 520px) {
	.game-wrapper {
		width: @board-size * @scale-tile-size + @board-size * @board-gutter-size + @board-gutter-size;
		margin: 0 auto;
		
		font-family: @game-font;
	}
	
	#gameBoard {
		font-size: @scale-font-size;
	}
	
	.grid-row .grid-col {
		width: @scale-tile-size;
		height: @scale-tile-size;
	}
	
	.tile {
		width: @scale-tile-size;
		height: @scale-tile-size;
		
		line-height: @scale-tile-size;
	}
}