// mixin


// ------ common ------
.border-radius(@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	   -moz-transition: @transition;
		-ms-transition: @transition; 
		 -o-transition: @transition;  
}

.transform(@string){
	-webkit-transform: @string;
	   -moz-transform: @string;
		-ms-transform: @string;
		 -o-transform: @string;
}

.flex() {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-direction(@string) {
	-webkit-flex-direction: @string; /* Safari 6.1+ */
			flex-direction: @string;
}

.absolute-center() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// ------ game specific ------

// renders tile style
.tile(@font-size, @font-color, @bg-color) {
	font-size: @font-size;
	color: @font-color;
	background-color: @bg-color;
}

.one-digit-tile(@font-color, @bg-color) {
	.tile(@tile-one-digit-font-size, @font-color, @bg-color);
}

.two-digit-tile(@font-color, @bg-color) {
	.tile(@tile-two-digit-font-size, @font-color, @bg-color);
}

.three-digit-tile(@font-color, @bg-color) {
	.tile(@tile-three-digit-font-size, @font-color, @bg-color);
}

.four-digit-tile(@font-color, @bg-color) {
	.tile(@tile-four-digit-font-size, @font-color, @bg-color);
	.box-shadow(~"0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333)");
}

.five-digit-tile(@font-color, @bg-color) {
	.tile(@tile-five-digit-font-size, @font-color, @bg-color);
	.box-shadow(~"0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333)");
}

// render tiles position
// position x = ({gutter size} * {col index}) + ({tile size} * {col index}) + {gutter-size}
// position y = ({gutter size} * {row index}) + ({tile size} * {row index}) + {gutter-size}
.row-loop (@tile-size, @board-size);

.row-loop (@size, @row, @r: 0) when (@r < @row) {
	.col-loop (@size, @col, @c: 0) when (@c < @col) {
		.tile-position-@{r}-@{c} {
			.transform(translate((@board-gutter-size * @c) + (@size * @c) + @board-gutter-size, (@board-gutter-size * @r) + (@size * @r) + @board-gutter-size));
		}
		
		.col-loop(@size, @col, @c + 1);
	}
	
	.col-loop (@size, @board-size);
	.row-loop (@size, @row, @r + 1);
}

@media screen and (max-width: 520px) {
	.row-loop (@tile-size / 2, @board-size);
}