// variables
@board-size: 4;

@board-gutter-size: 10px;
@board-background-color: #bbada0;

@tile-size: 100px;
@tile-background-color: rgba(238, 228, 218, 0.35);

@tile-one-digit-font-size: 4em;
@tile-two-digit-font-size: 4em;
@tile-three-digit-font-size: 3em;
@tile-four-digit-font-size: 2.2em;
@tile-five-digit-font-size: 2em;

@game-font: 'Roboto', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

// scale variable
@scale-tile-size: @tile-size / 2;
@scale-font-size: 8px;
